body{
    background-color: #FFFCF8;
    margin: 0;
    font-family: "Fira Sans", sans-serif;
}
a{
    text-decoration: none;

}


/*Navigation bar*/
header{
    background-color: #242424;
    padding: 0 10%;
    text-align: center;
}
.top-nav-bar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.top-nav-bar > div{
    width: 33%;
}
.menu-icon{
    display: none;
}
.search-bar{
    background-color: #FFFCF8;
    border-radius: 8px;
    height: 30px;
}
.top-nav-line{
    color: #FFFCF8;
    margin: 0;
}
.menu-nav-bar{
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
}
.menu-nav-item{
    color:#FFFCF8;
    width: 15%;
    padding: 0 5px;
}
.menu-nav-item:hover{
    background-color: #FFFCF8;
    color:#242424;
}
.nav-icon{
    padding: 5px;
}



/*Footer styles*/
footer{
    background-color: #242424;
    color:#FFFCF8;
    text-align: center;
    padding: 0 10% 10px 10%;
}
.footer-nav{
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    margin-bottom: 20px;
}
.footer-link{
    display: flex;
    color:#FFFCF8;
    padding: 3px 0;
    align-content: center;
}
.footer-link > p{
    margin: 0;
}
.social-icon{
    padding: 3px 10px 0 0;
}
.mobile-social-icons{
    display: none;
}
.footer-line{
    color: #FFFCF8;
    margin: 0;
}



/*Mobile Navigation bar*/
@media screen and (max-width: 800px){
    header{
        padding: 0 20px;
    }
    .menu-icon{
        display: inline;
        text-align: left;
    }
    .search-bar-div{
        display: none;
        width: 0;
    }
    .top-nav-bar{
        justify-content: space-between;
    }
    .nav-logo{
        height: 80px;
    }
    .nav-icons{
        text-align: right;
    }
    .menu-nav-bar{
        display: none;
    }

    /*Mobile footer*/
    footer{
        padding: 0 20px 10px 20px;
    }
    .footer-logo{
        height: 150px;
    }
    .desktop-socials-links{
        display: none;
    }
    .footer-nav{
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .mobile-social-icons{
        display: flex;
        margin-top: 20px;
    }
}



/*Home page styles*/
.categories-hp{
    padding: 0 10%;
    display: flex;
    justify-content: space-evenly;
}
.category-card-hp{
    width: 300px;
    height: 150px;
    text-align: center;
    align-content: center;
}
.bg-necklaces{
    background-image: url("./images/necklacecat.jpg")
}
.bg-earrings{
    background-image: url("./images/earrings.jpg");
}
.bg-watches{
    background-image: url("./images/watch.jpg");
}
.category-card-hp > h3 {
    width: 200px;
    height: 70px;
    background-color:#fffcf895;
    align-content: center;
}
.most-loved-carousel-hp{
    padding: 0 10%;
}
.carousel-products-hp{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0 90px;
}
.carousel-btn-black{
    color:#242424;
}